{% extends "base.html.twig" %}


{% block title %}
Produits
{% endblock %}

{% block body %}
<div>
    <h1 class="text-center text-warning">
        SYMFONY UX
    </h1>
    <!--
    <h2 class="text-center text-info h-50" {{ stimulus_controller('symfony/ux-typed', { strings: ['Les dernieres
        inovations Symfony', 'Symfony UX ajoute du javascript sans JS' , 'Symfony UX est simple' ], smartBackspace:
        true, startDelay: 20, backSpeed: 10, backDelay: 20, loop: true, showCursor: false }) }}></h2>
    -->
</div>
<div>

    <div class="text-center">
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{path('admin')}}" class="btn btn-primary mt-3">Espace d'administration</a>
        {% endif %}


        {% if app.user %}
        <a href="{{path('app_resume_commande')}}" class="btn btn-info">Mes commandes</a>
        {% endif %}
    </div>
    <h2 class="text-info">Nos produits</h2>
    <div class="row mt-3">

        {% for produit in produits %}
        <div class="col-md-3 col-sm-12">
            <div class="card h-100">
                {% for photos in produit.photos %}
                <div class="d-flex justify-content-center">
                    <img src="{{asset('build/images/' ~ photos)}}" width="25%" class="img-fluid mt-2" alt="" />
                </div>

                {% endfor %}
                <div class="card-body">
                    <h2 class="card-title">{{produit.name}}</h2>
                    <p>Catégorie : {{produit.categorie}}</p>
                    <a href="{{path('app_details_produit',{slug: produit.slug})}}" class="btn btn-primary">Plus
                        d'infos</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}